@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Unbounded";
}


li:hover {
  color: rgb(0, 0, 255);
  color: rgba(0, 0, 0, 0.418);
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(41, 163, 238);
}

input {
  border-radius: 0;
  padding: 0.5rem 1rem;
}
