@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Unbounded";
}

/* .container{
    margin: auto;
    padding: 0 4rem;
} */

section {
  padding-top: 4rem;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 200;
}

li:hover {
  color: rgb(0, 0, 255);
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(41, 163, 238);
}

input {
  border-radius: 0;
  padding: 0.5rem 1rem;
}
