@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

.container {
  overflow: hidden;
}

body {
  font-family: "Unbounded";
  background-color: white;
  color: black;
}

input {
  background-color: white;
}

li:hover {
  color: blue;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3fa2f6;
}

input {
  border-radius: 0;
  padding: 0.5rem 1rem;
}

@media (max-width: 425px) {
  p {
    font-size: 12px;
    font-weight: 200;
  }
  h1 {
    font-size: 18px;
    font-weight: 700;
  }
  h2 {
    font-size: 16px;
    font-weight: 700;
  }
  section {
    padding: 1rem 0;
  }
}

@media (min-width: 425px) {
  p {
    font-size: 16px;
    font-weight: 200;
  }
  h1 {
    font-size: 28px;
    font-weight: 700;
  }
  h2 {
    font-size: 22px;
    font-weight: 700;
  }
  section {
    padding: 2rem 0;
  }
}

@media (min-width: 640px) {
  h1 {
    font-size: 35px;
    font-weight: 700;
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
  }
  section {
    padding: 3rem 0;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 35px;
    font-weight: 700;
  }
  h2 {
    font-size: 28px;
    font-weight: 700;
  }
  section {
    padding: 4rem 0;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 42px;
    font-weight: 700;
  }
}
